<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
 <appSettings>
    <add key="url" value="http://172.16.25.51:8080/OpenADR2/Simple/2.0b" />
    <add key="venName" value="Test_VEN_Name" />
    <add key="venID" value="6f130342def6d658567c" />
    <add key="password" value="" />
 </appSettings>
</configuration>
